{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %}
<h1 align="center">Notes</h1>
<div class="container">
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
      <li class="list-group-item">{{ note.data }}
        <a href="/update-note/{{ note.id }}"><i class="fas fa-edit"></i></a>
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <p>&zwnj;</p>
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>
</div>
{% endblock %}
